# About the project

In this project, we’ll utilise Pandas to create a simple collaborative filtering model to generate product recommendations for an e-commerce store. This uses user purchase data on baskets from an e-commerce site and makes recommendations by identifying correlations between different items that commonly occur together within baskets.

# Import libraries and Load Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('/content/drive/MyDrive/Kaggle/Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

# Clean the data

In [3]:
df.shape

(541909, 8)

For our recommender system, we only require a small subset of the fields - the order or invoice number, the stock code or description, and the quantity of units purchased.

In [ ]:
df_baskets = df[['InvoiceNo', 'StockCode', 'Description', 'Quantity']]
df_baskets.head()

  InvoiceNo StockCode                          Description  Quantity
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6



---


**Examine the most popular products**

In [ ]:
df.groupby('Description').agg(
    orders=('InvoiceNo', 'nunique'),
    quantity=('Quantity', 'sum')
).sort_values(by='orders', ascending=False).head(10)

                                    orders  quantity
Description
WHITE HANGING HEART T-LIGHT HOLDER    2302     35317
REGENCY CAKESTAND 3 TIER              2169     13033
JUMBO BAG RED RETROSPOT               2135     47363
PARTY BUNTING                         1706     18022
LUNCH BAG RED RETROSPOT               1607     18779
ASSORTED COLOUR BIRD ORNAMENT         1467     36381
SET OF 3 CAKE TINS PANTRY DESIGN      1458      7336
PACK OF 72 RETROSPOT CAKE CASES       1334     36039
LUNCH BAG  BLACK SKULL.               1295     12112
NATURAL SLATE HEART CHALKBOARD        1266      9120

# Final step

## **Create an item matrix**

The primary component of our recommendation engine is a matrix. This states the quantity of units of each item present in each customer’s basket. We can create this matrix easily using the pivot_table() function. We’ll set the InvoiceNo as the index column, and we’ll place each product name in a column, with the quantity of units stored in each cell. Any NaN values will be replaced by zeros.

In [ ]:
df_items = df_baskets.pivot_table(index='InvoiceNo', columns=['Description'], values='Quantity').fillna(0)
df_items.head(3)

Description  20713  ...  wrongly sold sets
InvoiceNo           ...
536365         0.0  ...                0.0
536366         0.0  ...                0.0
536367         0.0  ...                0.0

[3 rows x 4223 columns]

## **Create product recommendations**

Finally, we can create a little helper function for our recommendation system to make it quick and easy to identify which products are associated with others. First, we use the corrwith() function to identify the Pearson correlation coefficient for each product with every other. We then drop the NaN values, and place these in a dataframe sorted by descending correlation.

When we run the get_recommendations() function we will pass in our item matrix dataframe containing each product and the number of times it co-occurred in a basket, as well as the column name for our target product. The recommender function will then calculate the Pearson correlation for the item and return the most correlated products, thus generating accurate product recs for us to display to the user on the product detail page, or present in an email to the user.

In [ ]:
def get_recommendations(df, item):
    """Generate a set of product recommendations using item-based collaborative filtering.
    
    Args:
        df (dataframe): Pandas dataframe containing matrix of items purchased.
        item (string): Column name for target item. 
        
    Returns: 
        recommendations (dataframe): Pandas dataframe containing product recommendations. 
    """
    
    recommendations = df.corrwith(df[item])
    recommendations.dropna(inplace=True)
    recommendations = pd.DataFrame(recommendations, columns=['correlation']).reset_index()
    recommendations = recommendations.sort_values(by='correlation', ascending=False)
    
    return recommendations

To run the function we pass in the dataframe containing our matrix of baskets and items, and the name of the target product. The function will return a product recommendation based on the products most commonly associated with that item.

For the “White Hanging Heart T-Light Holder”, the most correlated item is the “Gin + Tonic Diet Metal Sign”, so recommending this on the same page or in the same email might boost sales.

In [ ]:
recommendations = get_recommendations(df_items, 'WHITE HANGING HEART T-LIGHT HOLDER')
recommendations.head()

                             Description  correlation
3918  WHITE HANGING HEART T-LIGHT HOLDER     1.000000
1478         GIN + TONIC DIET METAL SIGN     0.824987
1241  FAIRY CAKE FLANNEL ASSORTED COLOUR     0.820905
1072                  DOORMAT FAIRY CAKE     0.483524
3627              TEA TIME PARTY BUNTING     0.469207